<footer >

    <div class="f-info">
        <div class="f-info-socials">
<i class="fa-brands fa-facebook-f"></i>
<i class="fa-brands fa-instagram"></i>
<i class="fa-brands fa-whatsapp"></i>
        </div>
        <div class="f-info-brand">&copy WanderLust Private Limited</div>&nbsp;&nbsp;
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/T&C" style="text-decoration: underline ;">Terms & Conditions</a>&nbsp;&nbsp;
            
        </div>
    </div>
</footer>